<footer class="navbar navbar-fixed-bottom">
    <nav class="container">
        <h4><i class="fa fa-external-link-square fa-white"></i> Helpful Links</h4>
        <ul class="links list-unstyled">
            <li class="col-md-3"><a href="http://helpdesk.harsco.com" target="_blank">Submit a Support Ticket</a></li>
            <li class="col-md-3"><a href="http://portal.harsco.com" target="_blank">Harsco Information Portal</a></li>
            <li class="col-md-3"><a href="http://directoryupdate.harsco.com/Main/" target="_blank">Outlook Update Tool</a></li>
            <li class="col-md-3"><a href="http://teams.harsco.com/sites/IND/AXC/default.aspx" target="_blank">AXC Intranet</a></li>
            <li class="col-md-3"><a href="http://axcuscatfiler01/Public/Phone%20List/Phone%20List.xls" target="_blank">Phone List</a></li>
            <li class="col-md-3"><a href="http://portal.harsco.com/sites/axc/Lists/CreditDebitMemo/AllItems.aspx" target="_blank">Credit Debit Memo</a></li>
        </ul>
    </nav>
    <section class="col-md-1 logo">
        <img src="./images/logo-gray.png" />
    </section>
</footer>