html {
    background: url(../images/bg-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: transparent;
    padding-bottom: 180px;
    font-family: 'OpenSansRegular'
}

.menu {
    padding-top: 50px;
}

li {
    line-height: 30px;
}

.clickable {
    cursor: pointer;
}

.appbar {
    width: 100%;
    margin-bottom: 20px;
    background-color: #1778bd;
}

.title {
    font-family: 'OpenSansLight';
    font-size: 24px;
    font-weight: normal;
    color: #fff;
}

.logo {
    padding: 10px 0;
    margin-right: 20px;
}

.center {
    text-align: center;
}

.ngLoader {
    margin: 50px auto 0 auto;
    text-align: center;
    font-size: 64px;
    color: #ffffff;
}

.nav {
    margin-bottom: 0;
    padding-top: 10px;
}

.nav>li>a {
    padding: 10px;
    line-height: 1em;
    color: #ffffff;
    /*color: #1778bd;
    background-color: #eeeeee;*/
}

.nav>li>a:hover {
    color: #ffffff;
    text-decoration: none;
    /*border-bottom: 2px solid #ffffff;*/
    background-color: #1778bd;
}

.nav .selected {
    color: #ffffff;
    text-decoration: none;
    /*border-bottom: 2px solid #1778bd;*/
    background-color: #1778bd;
}

.nav-horizontal>li {
    float: left;
    margin-right: 10px;
}



.login-box {
    margin: 20px auto 0 auto;
    width: 400px;
}



/*******
Menu List
*******/
.menu .btn {
    padding: 10px;
    height: 80px;
    text-align: left;
    font-size: 146%;
    line-height: 140%;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.menu .fa {
    padding-left: 10px;
    color: #9a9a9a;
}

.menu .btn small {
    font-size: 60%;
}

.menu li {
    margin: 10px 0;
}

.menu li a{
    color: #ffffff;
}

.menu .btn-inverse {
    background-color: rgba(0,0,0,0.75);
    background-image: none;
}

.menu .btn:hover {
    color: #ffffff;
    background-color: #222222;
    background-repeat: repeat-x;
    background-position: 0 0;
}

.menu .btn:hover .fa {
    color: #ffffff;
}

.menuText {
    margin-left: 84px;
}


.login-box h3 {
    margin: 0 0 15px 0;
}

/*******
Footer
*******/
.logo {
    /*float: right;
    margin: 20px;*/
    position: absolute;
    bottom: 10px;
    right: 20px;
    /*z-index: -100;*/
    /*height: 100px;*/
}

footer.navbar {
    background: rgba(0,0,0,0.75);
    display: block;
    width: 100%;
    min-height: 170px;
}

footer h4 {
    color: #fff;
}

/*footer h4 .icon {*/
    /*margin-top: 3px;*/
/*}*/

footer nav h4 {
    margin-left: 15px;
}

footer .links {
    margin-bottom: 30px;
}

footer .links li {
    display: inline-block;
}

footer .links a {
    color: #fff;
}

footer .links a:hover {
    color: #ffff00;
}

footer .logo {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

footer .logo img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

@media (max-width: 1220px) and (min-width: 980px) {
    .menu .btn {
        min-height: 130px;
        line-height: 120%;
    }
    .menu .icon {
        margin-top: 22px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .menu .btn {
        min-height: 160px;
        line-height: 120%;
    }
    .menu .icon {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }
    .menu li {
        margin: 0;
    }
    footer {
        position: relative;
        margin-left: -20px;
    }
    footer nav, .menu nav {
        padding-right: 20px;
        padding-left: 20px;
    }
    footer nav h4 {
        margin-left: 0;
    }
    .logo {
        position: static;
        padding-bottom: 20px;
        text-align: center;
    }
}
