<div class="server-selector" ng-show="showServerSelect" ng-init="Init()">
    <ul class="nav nav-horizontal pull-right" ng-init="GetServer()">
        <li class="t">Server: </li>
        <li
            ng-repeat="server in data.Servers"
            ng-click="SetServer(server)"
            ng-mouseover="hover = true;"
            ng-mouseout="hover = false;">
            <a href="">
                <i class="fa " ng-class="{'fa-laptop': server.DisplayName != selectedServer.DisplayName,'fa-check': server.DisplayName == selectedServer.DisplayName}" >

                </i>
                {{server.DisplayName}}
            </a>
        </li>
        <li ng-click="RemoveServer()">
            <a href="">
                <i class="fa fa-refresh"></i>
                Clear Servers
            </a>
        </li>
    </ul>
    <ul class="nav nav-horizontal pull-right" ng-init="GetAPI()">
        <li class="t">API: </li>
        <li ng-repeat="api in data.API" ng-click="SetAPI(api)">
            <a href="">
                <i class="fa " ng-class="{'fa-database': api.DisplayName != selectedAPI.DisplayName,'fa-check': api.DisplayName == selectedAPI.DisplayName}" >

                </i>
                {{api.DisplayName}}
            </a>
        </li>
        <li ng-click="RemoveAPI()">
            <a href="">
                <i class="fa fa-refresh"></i>
                Clear API
            </a>
        </li>
    </ul>
</div>
